

  <div id="index_heading">
    <h1>RESERVATIONS</h1><h1>MADE SIMPLE</h1>
  </div>

  <div class="landing_img">
    <%= image_tag ("header.png") %>
  </div>

  <div class="index_flex">
    <div class="button_wrapper">
      <a href="restaurants#index" class="button_lg">START LOOKING</a>
    </div>
  </div>
