



<P> <%= link_to 'Edit',edit_restaurant_reservation_path(@reservation)%> | <%= link_to "Delete", restaurant_reservation_path(@reservation), method: :delete, data: {confirm: "Are you sure you want to cancel this reservation?"}  %> | <%= link_to 'Back',restaurant_path(@restaurant)%>  </p>
