<div class="restaurants_wrapper">

  <div class= "restaurants">

    <div class="title_header">
      <h2><%= link_to "#{restaurant.name}", restaurant %></h2>
    </div>

    <br>
    Opening time:<%= restaurant.opentime %>
    <br>
    Closing time: <%= restaurant.closetime %>
  </div>

</div>
