<header class="index_header">
    <%= image_tag ("restaurant.png") %>
</header>

<div class="add_rest_btn_container">
    <%= link_to new_restaurant_path do %>
    <div class="button_reg_white">
      <h2>+</h2>
      <p>NEW RESTAURANT</p>
    </div>
    <% end %>
</div>


<main class="index_main">

  <ul id="restaurant_grid">
    <% @restaurants.each do |current_rest| %>
      <li class="restaurant_container">
        <%= render 'single_restaurant', restaurant: current_rest %>
      </li>
    <% end %>

  </ul>


</main>
