<div id="index_heading">
  <h1>RESERVATIONS</h1><h1>MADE SIMPLE</h1>
</div>

<div class="landing_img">
  <%= image_tag ("header.png") %>
</div>


  <div class="button_wrapper">
    <a href="#" class="button_lg">START LOOKING</a>
  </div>

<h1>Restaurants index </h1>

<main class="index_main">
  <ul id="restaurant_grid">
    <% @restaurants.each do |current_rest| %>
      <li class="restaurant_container">
        <%= render 'single_restaurant', restaurant: current_rest %>
      </li>
    <% end %>
  </ul>
</main>

<%= link_to 'Add a new Restaurant',  new_restaurant_path %>
