<header class="index_header">
    <%= image_tag ("restaurant.png") %>
</header>

<main class="index_main">
  <ul id="restaurant_grid">
    <% @restaurants.each do |current_rest| %>
      <li class="restaurant_container">
        <%= render 'single_restaurant', restaurant: current_rest %>
      </li>
    <% end %>
  </ul>
</main>

<%= link_to 'Add a new Restaurant',  new_restaurant_path %>
