html {
  font-family: "Raleway", "Gotham", "Helvetica", sans-serif;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

nav {
  height: 100px;
  background-color: white;
}

nav img {
  padding-top: 17px;
  padding-bottom: 17px;
  height: 66px;
  display: block;
  margin: auto;
}

nav a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 8px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-align: left;
}

label {
  color: #95989A;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

input[type=text] {
  width: 400px;
  border: 0;
  padding-top: 12px;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: solid 1px #dfdfdf;
}

input[type=password] {
  width: 400px;
  border: 0;
  padding-top: 12px;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: solid 1px #dfdfdf;
}

input[type=email] {
  width: 400px;
  border: 0;
  padding-top: 12px;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: solid 1px #dfdfdf;
}

input[type=tel] {
  width: 400px;
  border: 0;
  padding-top: 12px;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: solid 1px #dfdfdf;
}

.button_reg {
  font-size: 16px;
  font-weight: 300;
  color: white;
  background-color: #262626;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  border: 0;
}

.nav_links {
  position: absolute;
  right: 50px;
  top: 40.5px;
}

.nav_links a {
  padding-left: 36px;
}

.logo {
  margin: 0 auto;
}

.landing_img {
  height: 100%;
  overflow: hidden;
  z-index: -1;
  top: 100px;
  position: absolute;
}

.landing_img img{
  width: 100%;
}

#index_heading {
  text-align: center;
  margin-top: 3em;
}

#index_heading h1 {
  display: inline-block;
}

#index_heading h1:last-child {
  font-weight: 200;
  padding-left: 22px;
}

.button_lg {
  position: relative;
  top: 40%;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
}

.button_wrapper {
  text-align: center;
  height: 100%;
}

/* LOG IN & SIGN UP*/

.log_sign_container {
  position: relative;
  max-width: 900px;
  text-align: center;
  margin: auto;
  top: 40%;
  left: 0%;
  transform:translate(0%, -50%);
  -webkit-transform:translate(0%, -40%);
}

.log_sign_wrapper {
  display: inline-block;
}

.log_sign_field {
  width: 100%
}

.log_sign_container h2 {
  padding-bottom: 24px;
}

.log_sign_container input[type=submit] {
  display: inline-block;
  float: right;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  background-color: #262626;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  border: 0;
}

.error_messages {
  position: absolute;
  right: 0;
}
