html {
  font-family: "Raleway", "Gotham", "Helvetica", sans-serif;
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

nav {
  height: 100px;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 0;
}

nav img {
  padding-top: 17px;
  padding-bottom: 17px;
  height: 66px;
  display: block;
  margin: auto;
}

nav a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 8px;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

h3{
  color: #95989A;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-align: left;
}

hr {
  margin-top: 24px;
  border-top: solid 1px #f2f2f2;
}

label {
  color: #95989A;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

input[type=text] {
  width: 400px;
  border: 0;
  padding-top: 12px;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: solid 1px #dfdfdf;
}

.new_review input[type=submit] {
font-family: "Raleway";
position: relative;
font-size: 14px;
color: white;
background-color: #262626;
padding: 10px;
padding-left: 25px;
padding-right: 25px;
float: right;
text-transform: uppercase;
letter-spacing: 2px;
border: 0;
}

input[type=password] {
  width: 400px;
  border: 0;
  padding-top: 12px;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: solid 1px #dfdfdf;
}

input[type=email] {
  width: 400px;
  border: 0;
  padding-top: 12px;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: solid 1px #dfdfdf;
}

input[type=tel] {
  width: 400px;
  border: 0;
  padding-top: 12px;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: solid 1px #dfdfdf;
}

textarea {
  width: 100%;
  height: 100px;
  background-color: white;
  padding-top: 12px;
}

.button_reg {
  font-size: 16px;
  font-weight: 300;
  color: white;
  background-color: #262626;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  border: 0;
}

.button_reg_white {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #262626;
  background-color: white;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  border: solid 2px #262626;
}

.button_reg_white:hover {
  background-color: #f2f2f2;
  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

.nav_links {
  /*position: absolute;*/
  right: 50px;
  top: 15px;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav_links a {
  padding-left: 36px;
}

.logo {
  position: absolute;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.user_profile_wrapper {
  display: flex;
  align-items: center;
  height: 70px;
}

.user_profile {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 40px;
  margin: 0;
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
}

.user_profile img{
  position: relative;
  height: 100%;
  padding: 0;
}

.profile_dropdown {
  display: none;
  background-color: white;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border: solid 1px #ecebeb;
  right: 0;
}

.user_profile_wrapper:hover .profile_dropdown {
  display: block;
  margin-top: 8px;
}

.profile_dropdown {
  margin-top: 8px;
}

.profile_dropdown li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.profile_dropdown li:last-child:hover {
  background-color: #f2f2f2;
}

.profile_dropdown a {
  padding-left: 0;
  letter-spacing: 0;
}

.dropdown_content {
  margin-top: 12px;
  margin-bottom: 12px;
}

.landing_img {
  height: 100%;
  overflow: hidden;
  z-index: -1;
  top: 100px;
  position: absolute;
}

.landing_img img{
  width: 100%;
}

.form_container {
  position: relative;
  top: 100px;
}

#index_heading {
  text-align: center;
  position: relative;
  top: 30%;
}

#index_heading h1 {
  display: inline-block;
}

#index_heading h1:last-child {
  font-weight: 200;
  padding-left: 22px;
}

.button_book {
  position: relative;
  font-size: 14px;
  color: white;
  background-color: #262626;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  float: right;
  height: 16px;
  letter-spacing: 2px;
}

.button_book:hover {
  background-color: #595959;
  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

.button_book a {
  color: white;
  letter-spacing: 2px;
}

.button_lg {
  position: relative;
  top: 50%;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

.button_lg:hover {
  background-color: #f2f2f2;
}


.button_wrapper {
  justify-content: center;
  height: 100%;
}

.index_flex {
  display: flex;
  justify-content: center;
    height: 90%;
}

/* LOG IN & SIGN UP*/

.log_sign_container {
  position: relative;
  max-width: 900px;
  text-align: center;
  margin: auto;
  top: 40%;
  left: 0%;
  transform:translate(0%, -50%);
  -webkit-transform:translate(0%, -40%);
}

.log_sign_wrapper {
  display: inline-block;
}

.log_sign_field {
  width: 100%
}

.log_sign_container h2 {
  padding-bottom: 24px;
}

.log_sign_container input[type=submit] {
  display: inline-block;
  float: right;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 200;
  color: white;
  background-color: #262626;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  border: 0;
}

.error_messages {
  position: absolute;
  right: 0;
}

.field_with_errors {
  display: inline;
}

/* RESTAURANT INDEX */

.index_header {
  height: 330px;
  overflow: hidden;
}

.index_header img{
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.restaurant_container {
  background-color: white;
  max-width: 1100px;
  height: 204px;
  margin: 0 auto;
}

.restaurants_wrapper {
  margin: 0 auto;
}

.restaurants {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.restaurant_info {
  display: flex;
  align-items: center;
}

.index_main {
  margin-bottom: 100px
}

.index_main_info {
  padding-left: 24px;
  width: 250px;
}

.index_main_info p {
  font-size: 16px;
  font-family: "Gotham";
  color: #95989a;
  padding-top: 6px;
  margin: 0;
}

.restaurant_image img {
  width: 180px;
  height: 180px;
}

.review {
  padding-top: 8px;
}

.review img {
  width: 22px;
}

.hours {
  display: inline-block;
  padding-left: 50px;
  margin-right: 70px;
}

.hours p {
  font-size: 24px;
  margin: 0;
  float: left;
}

#hours_to {
  float: left;
  margin-top: 14px;
  margin-left: 24px;
  margin-right: 24px;
}

.opening {
  float: left;
}

.closing {
  float: left;
}


/* RESTAURANT VIEW */

.restaurant_view_image {
  width: 718px;
  height: 336px;
  overflow: hidden;
}

.restaurant_view_image img {
  width: 100%
}

.restaurants_view_wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.restaurant_info_wrapper {
  max-width: 718px;
}

.view_main_container {
  margin-right: 24px;
}

.show_main_info {
  padding: 12px;
  max-width: 718px;
  background-color: #262626;
  color: white;
  flex-grow: 1;
}

.restaurants_container {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.title_header_show a{
  color: white;
}

.reservation_picker_container {
  margin-top: 50px;
}

.reservation_picker {
  display: flex;
  padding: 24px;
  /*border: solid 1px #95989A;*/
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
  align-items: center;
}

.reservation_picker h2 {
  font-weight: 300;
}

.book_fields {
  display: flex;
  align-items: center;
}

.book_fields h2{
  padding-top: 12px;
}

.book_guest {
  padding-right: 24px;
}

.book_date {
  padding-left: 24px;
  padding-right: 24px;
  border-left: solid 1px #f2f2f2;
}

.book_time {
  padding-left: 24px;
  padding-right: 24px;
  border-left: solid 1px #f2f2f2;
}

.restaurant_info .button_book {
  margin-left: 50px;
}

.new_reservation {
  margin-top: 100px;
}

.add_rest_btn_container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.add_rest_btn_container .button_reg_white{
  margin-top: 50px;
}

.add_rest_btn_container .button_reg_white a{
  color: #262626;
}

.add_rest_btn_container h2 {
  display: inline-block;
  font-weight: 400;
}

.add_rest_btn_container p {
  display: inline-block;
  margin: 0;
}

.edit_delete_wrapper {
  width: 718px;
  height: 38px;
  margin-bottom: 24px;
}

.edit_delete {
  float: left;
}

.button_edit_delete {
  position: relative;
  font-size: 14px;
  color: #262626;
  background-color: white;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  float: right;
  height: 16px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

.button_edit_delete:first-child {
  padding-left: 0;
  margin-right: 24px;
}

.button_edit_delete img {
  width: 24px;
  padding-right: 6px;
}
/*
.button_edit_delete:hover {
  border-bottom: solid 2px #7f7f7f;
}*/

.button_edit_delete:hover img{
  width: 28px;
  -o-transition:.2s;
-ms-transition:.2s;
-moz-transition:.2s;
-webkit-transition:.2s;
transition:.2s;
}

.info_content_container {
  margin-bottom: 24px;
}

.info_content_container img{
  width: 12px;
}

.icon_container {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.side_info {
  display: flex;
  font-family: "Gotham";
  font-weight: 200;
}

.corresponding_info {
  padding-left: 12px;
}

.corresponding_info p {
  font-weight: 500;
  margin: 0;
}

.days {
  display: inline-block;
}

.hours {
  display: inline-block;
  padding-left: 0;
  margin-right: 0;
  margin-left: 24px;
}

.info_content_wrapper {
  margin-top: 36px;
}

/*.show_main_info p {
  margin-bottom: 36px;
}*/

.reviews_container {
  background-color: white;
  width: 718px;
}

.user_review_thumbnail {
  display: inline-block;
}

.user_review_thumbnail img {
  border-radius: 40px;
}

.comment {
  display: inline-block;
  margin-bottom: 24px;
  width: 718px;
}

.reviews p {
  margin-bottom: 24px;
}

.user_review_info {
  display: inline-block;
  padding-left: 24px;
}
